@media(max-width:875px){
    .LocateTxt,
    .DescHeader{
        font-size: 2.2rem;
    }
    .all-top{
        position: absolute;
        top: -9999px;
        left: -9999px;
     }
     .cards img{
        width: 0 22rem;
        gap: 2rem;
    }
    .cardsContainer {
        width: 84rem;
        margin-bottom: 8rem;
    }
}

@media (max-width:840px){
    .cardsContainer {
    width: 98rem;
    margin-bottom: 8rem;

}

